@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}
<script src="~/Content/CanversJS/CanversJSGraphs.js"></script>
<script>
    window.onload = function () {

<<<<<<< HEAD
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light1", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Current Broker Success 1"
            },
            data: [{
                type: "column", //change type to bar, line, area, pie, etc
                //indexLabel: "{y}", //Shows y value on all Data Points
                indexLabelFontColor: "#5A5757",
                indexLabelPlacement: "outside",
                dataPoints: [
                    { x: 10, y: 71 },
                    { x: 20, y: 55 },
                    { x: 30, y: 50 },
                    { x: 40, y: 65 },
                    { x: 50, y: 92, indexLabel: "Highest" },
                    { x: 60, y: 68 },
                    { x: 70, y: 38 },
                    { x: 80, y: 71 },
                    { x: 90, y: 54 },
                    { x: 100, y: 60 },
                    { x: 110, y: 36 },
                    { x: 120, y: 49 },
                    { x: 130, y: 21, indexLabel: "Lowest" }
                ]
            }]
        });
        chart.render();

=======
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light1", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Current Broker Success 1"
            },
            data: [{
                type: "column", //change type to bar, line, area, pie, etc
                //indexLabel: "{y}", //Shows y value on all Data Points
                indexLabelFontColor: "#5A5757",
                indexLabelPlacement: "outside",
                dataPoints: [
                    { x: 10, y: 71 },
                    { x: 20, y: 55 },
                    { x: 30, y: 50 },
                    { x: 40, y: 65 },
                    { x: 50, y: 92, indexLabel: "Highest" },
                    { x: 60, y: 68 },
                    { x: 70, y: 38 },
                    { x: 80, y: 71 },
                    { x: 90, y: 54 },
                    { x: 100, y: 60 },
                    { x: 110, y: 36 },
                    { x: 120, y: 49 },
                    { x: 130, y: 21, indexLabel: "Lowest" }
                ]
            }]
        });
        chart.render();

>>>>>>> 5c0c5f8a2ba390f128684b1234fb848c82a46819
        var chart = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            theme: "light1", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Current Broker Success 2"
            },
            data: [{
                type: "column", //change type to bar, line, area, pie, etc
                //indexLabel: "{y}", //Shows y value on all Data Points
                indexLabelFontColor: "#5A5757",
                indexLabelPlacement: "outside",
                dataPoints: [
                    { x: 10, y: 81 },
                    { x: 20, y: 155, indexLabel: "Highest" },
                    { x: 30, y: 50 },
                    { x: 40, y: 55 },
                    { x: 50, y: 92 },
                    { x: 60, y: 69 },
                    { x: 70, y: 40 },
                    { x: 80, y: 71 },
                    { x: 90, y: 54 },
                    { x: 100, y: 60 },
                    { x: 110, y: 136 },
                    { x: 120, y: 49 },
                    { x: 130, y: 22, indexLabel: "Lowest" }
                ]
            }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer3", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Simple Line Chart"
            },
            axisY: {
                includeZero: false
            },
            data: [{
                type: "line",
                dataPoints: [
                    { y: 450 },
                    { y: 414 },
                    { y: 520, indexLabel: "highest", markerColor: "red", markerType: "triangle" },
                    { y: 460 },
                    { y: 450 },
                    { y: 500 },
                    { y: 480 },
                    { y: 480 },
                    { y: 410, indexLabel: "lowest", markerColor: "DarkSlateGrey", markerType: "cross" },
                    { y: 500 },
                    { y: 480 },
                    { y: 510 }
                ]
            }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer4", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            animationEnabled: true,
            title: {
                text: "Share Value - 2016"
            },
            axisX: {
                interval: 1,
                intervalType: "month",
                valueFormatString: "MMM"
            },
            axisY: {
                title: "Price (in USD)",
                valueFormatString: "$#0"
            },
            data: [{
                type: "pie",
                markerSize: 12,
                xValueFormatString: "MMM, YYYY",
                yValueFormatString: "$###.#",
                dataPoints: [
                    { x: new Date(2016, 00, 1), y: 61, indexLabel: "gain", markerType: "triangle", markerColor: "#6B8E23" },
                    { x: new Date(2016, 01, 1), y: 71, indexLabel: "gain", markerType: "triangle", markerColor: "#6B8E23" },
                    { x: new Date(2016, 02, 1), y: 55, indexLabel: "loss", markerType: "cross", markerColor: "tomato" },
                    { x: new Date(2016, 03, 1), y: 50, indexLabel: "loss", markerType: "cross", markerColor: "tomato" },
                    { x: new Date(2016, 04, 1), y: 65, indexLabel: "gain", markerType: "triangle", markerColor: "#6B8E23" },
                    { x: new Date(2016, 05, 1), y: 85, indexLabel: "gain", markerType: "triangle", markerColor: "#6B8E23" },
                    { x: new Date(2016, 06, 1), y: 68, indexLabel: "loss", markerType: "cross", markerColor: "tomato" },
                    { x: new Date(2016, 07, 1), y: 28, indexLabel: "loss", markerType: "cross", markerColor: "tomato" },
                    { x: new Date(2016, 08, 1), y: 34, indexLabel: "gain", markerType: "triangle", markerColor: "#6B8E23" },
                    { x: new Date(2016, 09, 1), y: 24, indexLabel: "loss", markerType: "cross", markerColor: "tomato" },
                    { x: new Date(2016, 10, 1), y: 44, indexLabel: "gain", markerType: "triangle", markerColor: "#6B8E23" },
                    { x: new Date(2016, 11, 1), y: 34, indexLabel: "loss", markerType: "cross", markerColor: "tomato" }
                ]
            }]
        });
        chart.render();

        var dps = [];
        var chart = new CanvasJS.Chart("chartContainer5", {
            title: {
                text: "Dynamic Spline Chart"
            },
            axisY: {
                includeZero: false
            },
            data: [{
                type: "spline",
                markerSize: 0,
                dataPoints: dps
            }]
        });

        var xVal = 0;
        var yVal = 100;
        var updateInterval = 1000;
        var dataLength = 50; // number of dataPoints visible at any point

        var updateChart = function (count) {
            count = count || 1;
            // count is number of times loop runs to generate random dataPoints.
            for (var j = 0; j < count; j++) {
                yVal = yVal + Math.round(5 + Math.random() * (-5 - 5));
                dps.push({
                    x: xVal,
                    y: yVal
                });
                xVal++;
            }
            if (dps.length > dataLength) {
                dps.shift();
            }
            chart.render();
        };

        updateChart(dataLength);
        setInterval(function () { updateChart() }, updateInterval);


    }
</script>
<!--main content start-->
<<<<<<< HEAD
<div style="border:double #000000">
    @ViewBag.Money
</div>
=======
>>>>>>> 5c0c5f8a2ba390f128684b1234fb848c82a46819
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Home</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-laptop"></i> Home - Companies & Rate Growth</li>
                </ol>
                <div>
                    <div id="chartContainer5" style="height: 300px;"></div>
                    <br />
                </div>
                <div class="col-md-6">
                    <div id="chartContainer" style="height: 300px;"></div>
                    <br />
                </div>
                <div class="col-md-6">
                    <div id="chartContainer2" style="height: 300px;"></div>
                    <br />
                </div>
                <div class="col-md-6">
                    <div id="chartContainer3" style="height: 300px;"></div>
                    <br />
                </div>
                <div class="col-md-6">
                    <div id="chartContainer4" style="height: 300px;"></div>
                    <br />
                </div>
            </div>
        </div>
    </section>
</section>
<!--main content end-->